*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue: #2A7AE4;
  --blue-80: #5595E9;
  --blue-20: #D4E4FA;
  --white: #fff;
  --black: #464646;
}

html{
  min-width: 350px;
}

input,button{
  cursor: pointer;
  border: none;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html{
    font-size: 87.5%; 
  }
}